* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

.container {
  display: grid;
  place-items: center;
  min-height: 100vh;
  background-color: rgb(5, 5, 5);
}

.button {
  position: relative;
  text-decoration: none;
  font-weight: 500;
  padding: 0.75em 1.5em;
  background-color: rgb(168, 10, 10);
  color: rgb(230, 230, 230);
  text-transform: uppercase;
  border-radius: 10px;
  letter-spacing: 1px;
}

.button::before {
  content: attr(data-attr);
  position: absolute;
  inset: 0;
  padding: 0.75em 1.5em;
  text-align: center;
  background-color: rgb(168, 10, 10);
  color: rgb(230, 230, 230);
  font-weight: 500;
  transition: 0.45s;
  transform-origin: bottom;
  transform: translateY(-100%) rotateX(90deg);
  border-radius: 10px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.button:hover::before {
  transform: translateY(0%) rotateX(0deg);
}

.button::after {
  content: attr(data-attr);
  position: absolute;
  inset: 0;
  padding: 0.75em 1.5em;
  text-align: center;
  background-color: rgb(168, 10, 10);
  color: rgb(230, 230, 230);
  font-weight: 500;
  transition: 0.45s;
  transform-origin: top;
  transform: translateY(0%) rotateX(0deg);
  border-radius: 10px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.button:hover::after {
  transform: translateY(100%) rotateX(-90deg);
}
